.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.modal-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-child #sidebar-container {
  top: -358px;
  left: -720px;
  height: 110vh;
}

.modal-child #sidebar-container #sidebar-title #logo-btn svg {
  vertical-align: -0.15em;
}
