#nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    height: 60px;
}

form.search-bar {
    flex-grow: 3;
    box-sizing: border-box;
    max-width: 600px;
}

form.search-bar input {
    box-sizing: border-box;
    padding: 8px;
    padding-left: 15px;
    padding-top: 9px;
    font-size: 17px;
    border: solid lightgray 1px;
    float: left;
    width: 85%;
    background: white;
    border-radius: 10px 0px 0px 2x;
}

form.search-bar button {
    box-sizing: border-box;
    float: left;
    width: 15%;
    padding: 5px;
    background: rgb(228, 228, 228);
    color: white;
    font-size: 17px;
    border: solid lightgray 1px;
    border-left: none;
    cursor: pointer;
    border-radius: 0px 2px 2px 0px;
    transition: .25s;
}

form.search-bar button:hover {
    background: rgb(211, 211, 211);
}

form.search-bar button:focus {
    outline: 0;
}

form.search-bar input:focus {
    outline: 0;
    border: rgb(0, 89, 255) 1px solid;
}

/* #search-bar input {
    height: 100%;
    width: 80%;
    padding: 7px;
    border: solid lightgray 1px;
    border-radius: 1px 0px 0px 1px;
}

#search-bar button {
    margin: 0px;
    height: 100%;
    padding: 5px;
    border: solid lightgray 1px;
    border-radius: 0px 1px 1px 0px;
    border-left: none;
    width: 20%;
    float: right;
} */

.nav-icons button {
    margin: 20px;
    background-color: white;
    border: none;
    font-size: large;
    cursor: pointer;
}

.nav-icons button:focus {
    outline: 0;
}

.nav-icons i {
    font-size: 28px;
}

.nav-icons i:focus {
    outline: 0;
}

#logo-btn {
    font-size: 20px;
}

.iconify { 
    color: red; 
}

.nav-icons.right {
    position: relative
}

#add-video-btn-online {
    margin: 20px;
    height: 30px;
    position: absolute;
    right: 60px;
    top: 5px;
}

#add-video-btn-offline {
    margin: 20px;
    height: 30px;
    position: absolute;
    right: 60px;
    top: 5px;
}

#sign-in-btn {
    margin: 20px;
    border: solid rgb(0, 89, 255) 1px;
    color: rgb(0, 89, 255);
    padding: 7px;
    border-radius: 3px;
    width: 125px;
    font-size: 16px;
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
    text-decoration: none;
}

#user-btn {
    background-color: rgb(0, 89, 255);
    border: rgb(58, 58, 255) 1px solid;
    border-radius: 25px;
    width: 40px;
    height: 40px;
    color: white;
    font-size: 22px;
    text-transform: uppercase;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

#user-btn:focus {
    outline: 0;
    border: none
}

.user-drop-down {
    position: absolute;
    top: 15px;
    right: 65px;
    width: 280px;
    /* transition: .5s; */
}

#dropdown-header {
    background-color: white;
    border: lightgray 1px solid;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

#dropdown-header-user-icon {
    float: left;
    padding-top: 15px;
    padding-left: 18px;
    font-size: 38px;
    color: rgb(58, 58, 255);
}

#dropdown-user-info .username {
    font-weight: bolder;
    font-size: 16px;
    margin-bottom: 0px;
    margin-top: 16px;
}

#dropdown-user-info .email {
    margin-top: 0px;
    font-size: 14px;
}

#dropdown-user-info {
    float: right;
    padding-right: 90px;
}

.user-drop-down button {
    margin: 0;
    border-right: lightgray 1px solid;
    border-left: lightgray 1px solid;
    height: 40px;
    font-size: 14px;
    display: block;
    width: 100%;
    text-align: start;
    transition: .25s;
    color: gray;
    padding: 10px;
}

.user-drop-down button:hover {
    background-color: rgb(236, 236, 236);
}

#last-user-dropdown-btn {
    border-bottom: lightgray 1px solid;
}

#dropdown-user-icon {
    font-size: 14px;;
}

#dropdown-logout-icon {
    font-size: 14px;;
}

.hide {
    right: -1000px;
}
