main.signup-login-form-container {
    margin: 100px auto;
    width: 350px;
    border: 1px solid lightgrey;
    border-radius: 10px;
    padding: 50px;
    height: 425px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.signup-login-logo {
    font-size: 22px;
    padding: 10px;
}

.signup-login-title {
    font-size: 24px;
    padding: 10px;
}

.signup-login-after-title {
    font-size: 16px;
    padding: 5px;
}

.signup-login-form-container form {
    width: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
    height: 100%;
}

.signup-login-form-container div {
    margin: 50px;
    position: absolute;
}

.input-container {
    position: absolute; 
    top: -30px;
    left: -60px;
    display: flex;
    flex-direction: column;
}

.input-container.password {
    left: 400px;
    transition: .5s
}

.input-container.username {
    transition: .5s
}

.input-container.password.show {
    left: -60px
}

.input-container.username.hide {
    left: -600px;
}

.signup-login-form-container label {
    position: relative;
    z-index: 1;
    top: 22px;
    left: 30px;
    font-size: 16px;
    padding: 0px 3px;
    background-color: white;
    color: gray;
    display: inline-block;
    transition: .2s;
}

.signup-login-form-container input {
    padding: 10px;
    position: absolute;
    width: 100%;
    height: 30px;
    left: 15px;
    top: 5px;
    z-index: 2;
    width: 320px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    font-size: 18px;
    background: transparent;
}

#login-password {
    z-index: 4;
}

#login-password:valid + label {
    color: lightgrey;
    top: 0px;
    left: 30px;
    font-size: 12px;
    z-index: 5;
}

#login-password:focus + label {
    color: rgb(0, 89, 255);
    top: 0px;
    left: 30px;
    font-size: 12px;
    z-index: 5;
}

.signup-login-form-container input:valid + label {
    color: lightgrey;
    top: 0px;
    left: 30px;
    font-size: 12px;
    z-index: 3;
}

.signup-login-form-container input:focus + label {
    color: rgb(0, 89, 255);
    top: 0px;
    left: 30px;
    font-size: 12px;
    z-index: 3;
}

.input-container.errors input {
    background: white;
    border: red 2px solid;
}

.input-container.errors input:focus {
    outline: none;
}

.input-container.errors input + label {
    color: red;
    top: 0px;
    left: 30px;
    font-size: 12px;
    z-index: 3;
}

.signup-login-form-container button {
    position: absolute;
    top: 100px;
    left: 250px;
    height: 40px; 
    width: 100px;
    background-color: rgb(0, 89, 255);
    color: white;
    border-radius: 5px;
    border: none;
}

.signup-login-form-container button:hover {
    background-color: rgb(0, 81, 231);
    cursor: pointer;
}

.signup-login-form-container a {
    position: absolute;
    top: 115px;
    left: 20px;
    width: 100px;
    font-size: 14px;
    text-decoration: none;
    color: rgb(0, 89, 255);
}

.errors-message {
    position: absolute;
    top: 60px;
    width: 300px;
    font-size: 12px;
    left: 20px;
    color: red;
    margin: 0px;
    padding: 0px;
}

.error-message-li {
    list-style: none;
    margin: 0;
}

#login-show-password-btn {
    position: absolute;
    top: 9px;
    left: 305px;
    width: 45px;
    background-color: white;
    height: 45px;
    border-radius: 25px;
    color: grey;
    transition: .25s;
    font-size: 20px;
    z-index: 3;
}

#login-show-password-btn:focus {
    outline: none;
}

#login-show-password-btn:hover {
    background-color: lightgray;
}

#login-show-password-btn:active {
    background-color: lightgray;
}

#or-demo {
    position: absolute;
    top: 185px;
    left: 112px;
    width: 150px;
    text-align: center;
}

#demo-login-btn {
    position: absolute;
    top: 247px;
    left: 112px;
    width: 150px;
}

#back-to-username-link {
    position: absolute;
    width: 125px;
    height: 20px;
    font-size: 14px;
    text-decoration: none;
    background-color: white;
    border: none;
    color: rgb(0, 89, 255);
    top: 110px;
    left: 20px;
}

#back-to-username-link:focus {
    outline: none;
}















