main.signup-login-form-container {
    margin: 100px auto;
    margin-bottom: 0px;
    width: 372px;
    border: 1px solid lightgrey;
    border-radius: 8px;
    padding: 38px;
    height: 424px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

#signup-login-logo {
    position: static;
    font-size: 22px;
    background-color: white;
    height: 30px;
    width: 115px;
    border: none;
    color: black;
    text-align: center;
    margin: 0px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.signup-login-title {
    font-size: 24px;
    padding: 10px;
    padding-top: 11px;
    padding-bottom: 12px;
}

.signup-login-after-title {
    font-size: 16px;
    padding: 5px;
    padding-top: 0px;
    padding-bottom: 10px;
}

.signup-login-form-container form {
    width: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
    height: 100%;
}

.signup-login-form-container div {
    margin: 50px;
    position: absolute;
}

.input-container {
    position: absolute; 
    top: -30px;
    left: -60px;
    display: flex;
    flex-direction: column;
}

.input-container.password {
    left: 400px;
    transition: .5s
}

.input-container.username {
    transition: .5s
}

.input-container.password.show {
    left: -60px
}

.input-container.username.hide {
    left: -600px;
}

.signup-login-form-container label {
    position: relative;
    z-index: 1;
    top: 24px;
    left: 26px;
    font-size: 16px;
    padding: 0px 3px;
    background-color: white;
    color: gray;
    display: inline-block;
    transition: .2s;
}

.signup-login-form-container input {
    padding: 10px;
    position: absolute;
    height: 34px;
    left: 12px;
    top: 5px;
    z-index: 2;
    width: 345px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    font-size: 18px;
    background: transparent;
}

#login-password {
    z-index: 4;
}

#login-password:valid + label {
    color: lightgrey;
    top: 0px;
    left: 30px;
    font-size: 12px;
    z-index: 5;
}

#login-password:focus + label {
    color: rgb(0, 89, 255);
    top: 0px;
    left: 30px;
    font-size: 12px;
    z-index: 5;
}

.signup-login-form-container input:valid + label {
    color: lightgrey;
    top: 0px;
    left: 30px;
    font-size: 12px;
    z-index: 3;
}

.signup-login-form-container input:focus + label {
    color: rgb(0, 89, 255);
    top: 0px;
    left: 30px;
    font-size: 12px;
    z-index: 3;
}

.input-container.errors input {
    background: white;
    border: red 2px solid;
}

.input-container.errors input:focus {
    outline: none;
}

.errors #login-password + label {
    color: red;
    top: 0px;
    left: 30px;
    font-size: 12px;
    z-index: 5;
}

.signup-login-form-container button {
    position: absolute;
    top: 100px;
    left: 279px;
    height: 40px; 
    width: 100px;
    background-color: rgb(0, 89, 255);
    color: white;
    border-radius: 5px;
    border: none;
}

.signup-login-form-container button:hover {
    background-color: rgb(0, 81, 231);
    cursor: pointer;
}

.signup-login-form-container a {
    position: absolute;
    top: 110px;
    left: 12px;
    width: 100px;
    font-size: 14px;
    text-decoration: none;
    color: rgb(0, 89, 255);
}

.errors-message {
    position: absolute;
    top: 60px;
    width: 300px;
    font-size: 12px;
    left: 20px;
    color: red;
    margin: 0px;
    padding: 0px;
}

.error-message-li {
    list-style: none;
    margin: 0;
}

#login-show-password-btn {
    position: absolute;
    top: 9px;
    left: 325px;
    width: 45px;
    background-color: white;
    height: 45px;
    border-radius: 25px;
    color: grey;
    transition: .25s;
    font-size: 20px;
    z-index: 6;
}

#login-show-password-btn:focus {
    outline: none;
}

#login-show-password-btn:hover {
    background-color: lightgray;
}

#login-show-password-btn:active {
    background-color: lightgray;
}

#or-demo {
    position: absolute;
    top: 175px;
    left: 120px;
    width: 150px;
    text-align: center;
}

#demo-login-btn {
    position: absolute;
    top: 247px;
    left: 120px;
    width: 150px;
}

#back-to-username-link {
    position: absolute;
    width: 125px;
    height: 20px;
    font-size: 14px;
    text-decoration: none;
    background-color: white;
    border: none;
    color: rgb(0, 89, 255);
    top: 110px;
    left: 12px;
}

#back-to-username-link:focus {
    outline: none;
}

#passwordMatchError {
    position: absolute;
    top: -7px;
    left: 168px;
    width: 155px;
}

#usernameError {
    position: absolute;
    top: -182px;
}

#emailError {
    position: absolute;
    top: -120px
}

#passwordLengthError {
    position: absolute;
    top: -7px;
    width: 150px;
}

#login-footer {
    display: flex;
    margin: 0px auto;
    width: 448px;
    justify-content: space-between;
    padding-top: 24px;
    font-size: 12px;
}

#login-page-links {
    padding-left: 0;
    margin: 0;
    display: flex;

}

#login-page-links li {
    padding-left: 15px;
    list-style: none;
}

#login-page-links li a {
    color: rgb(102, 102, 102);
    font-weight: bold;
    text-decoration: none;
}


















