main.signup-login-form-container.signup {
    margin: 50px auto;
    width: 700px;
    height: 500px;
    position: relative;

}

.signup-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    top: 0px;
    left: 0px;
}

.signup-right {
    width: 500;
    display: flex;
    flex-direction: column;
    height: 50px;
    width: 50px;
    position: absolute;
    left: 440px;
    top: 100px
}

#signup-icon {
    color: rgb(0, 89, 255);
    font-size: 80px;
    text-align: center;
    width: 220px;
    padding: 30px 0px;
}

#signup-blurb {
    width: 220px;
    text-align: center;
}

#signup-logo {
    position: static;
    font-size: 22px;
    background-color: white;
    height: 30px;
    width: 115px;
    border: none;
    color: black;
    text-align: center;
    margin: 0px 0px 0px 5px;
}

.signup-login-form-container.signup .signup-login-after-title {
    padding: 5px 10px;
}

.input-container.password.signup {
    top: 130px;
    left: -60px;
}

.input-container.confirm.signup {
    top: 130px;
    left: 90px;
}

.input-container.email.signup {
    top: 50px;
    left: -60px;
}

.input-container.password.signup input {
    width: 100px;
}

.input-container.confirm.signup input {
    width: 100px;
}

.signup-login-form-container.signup a {
    top: 320px;
    left: 8px;
}

#show-password-btn {
    width: 45px;
    background-color: white;
    height: 45px;
    border-radius: 25px;
    top: 189px;
    left: 293px;
    color: grey;
    transition: .25s;
    font-size: 20px;
}

#show-password-btn:focus {
    outline: none;
}

#show-password-btn:hover {
    background-color: lightgray;
}

#show-password-btn:active {
    background-color: lightgray;
}

.signup-login-form-container.signup .password-next-btn {
    top: 305px;
}

.errors-message.login {
    top: 245px;
    left: 10px
}


