.row {
    position: relative
}

#video-index-container {
    margin-left: 240px;
    margin-top: 0px;
    background-color: rgb(243, 242, 242);
}

#video-index-container.extend {
    margin-left: 72px;
}

/* everything below is styling for the genre header */

#genre-header {
    width: auto;
    display: flex;
    background: white;
    border-top: rgb(221, 221, 221) solid 1px;
    border-bottom: rgb(221, 221, 221) solid 1px;
    padding: 13px;
    overflow-x: hidden;
    position: relative;
    transition: 1s;
}

#genre-header .tag-selected {
    background-color: rgb(100, 100, 100);
    color: white;
    border-color: rgb(100, 100, 100);
}

#genre-header .tag-selected:hover {
    background-color: rgb(143, 143, 143);
}

#genre-header button {
    height: 32px;
    border: solid 1px rgb(206, 206, 206);
    border-radius: 25px;
    font-size: 14px;
    margin: 0px 7px; 
    padding: 0px 12px;
    transition: .5s;
    border: none;
    white-space: nowrap;
}

#genre-header button:hover {
    background-color: rgb(228, 228, 228)
}

#genre-header button:focus {
    outline: none;
}

#genre-header-left {
  position: fixed;
  top: 56px;
  left: 70px;
  margin: 0px;
  border-radius: 0px;
  border: none;
  height: 58px;
  color: gray;
  display: flex;
  align-items: center;
  padding-right: 40px;
  background: linear-gradient(90deg, rgba(255,255,255,1) 62%, rgba(255,255,255,0.7469362745098039) 81%, rgba(255,255,255,0.49763655462184875) 88%, rgba(255,255,255,0.2539390756302521) 95%, rgba(0,0,0,0) 100%);
}

#genre-header-left.hide {
  display: none;
}

#genre-header-right.hide {
  display: none;
}

#genre-header-right {
  position: fixed;
  top: 56px;
  right: 0px;
  margin: 0px;
  border-radius: 0px;
  border: none;
  height: 58px;
  color: gray;
  display: flex;
  align-items: center;
  padding-left: 40px;
  background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(255,255,255,0.2539390756302521) 5%, rgba(255,255,255,0.49763655462184875) 12%, rgba(255,255,255,0.7469362745098039) 20%, rgba(255,255,255,1) 38%);
}

#genre-header div button {
    font-size: 9px;
    height: 0px;
    width: 0px;
    padding: 10px;
    padding-top: 9px;
    padding-bottom: 17px;
    padding-right: 16px;
    padding-left: 10px;
    background-color: rgba(255, 255, 255, 0)
}

#genre-header div button:hover {
  cursor: pointer
}

#genre-header div button:focus {
  outline: none
}

#genre-header div button:active {
  background-color: rgb(156, 156, 156)
}

/* everything below is the video index container styling */

#videos-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  padding: 24px;
  height: 540px;
  /* height: 100%; */
  overflow-y: scroll;
  padding-right: 0px;
  margin-top: 0px;
  padding-top: 22px;
  padding-left: 14px;
  padding-right: 14px;
  overflow: scroll;
  padding-bottom: 10000px
}

#videos-container .video-item {
  height: 270px;
  width: 277px;
  flex-basis: 20%;
  -ms-flex: auto;
  position: relative;
  display: block;
  box-sizing: border-box;
  list-style: none;
  margin: 0px 0px;
  padding: 0px 8px;
  margin-bottom: 45px;
}

@media(max-width: 1700px) {
  #videos-container .video-item {
    flex-basis: 25%;
  }
}

@media(max-width: 1333px) {
  #videos-container .video-item {
    flex-basis: 33.33%;
  }
}
@media(max-width: 1073px) {
   #videos-container .video-item {
    flex-basis: 33.33%;
  }
}
@media(max-width: 815px) {
  #videos-container .video-item {
    flex-basis: 50%;
  }
}
@media(max-width: 555px) {
  #videos-container .video-item {
    flex-basis: 100%;
  }
}

#videos-container video {
  width: 100%;
  height: 178px;
  /* max-height: 170px; */
  object-fit: cover;
}

#videos-container a {
  height: 100%;
  width: 100%;
  text-decoration: none;
  font-size: 16px;
  color: black;
}

#videos-container #video-index-item-info a {
  font-size: 15px;
  color: #666666;
}

#videos-container #video-index-item-info a:hover {
  color: black;
}

#video-index-item-info-container {
  padding-top: 12px;
  display: flex;
}

.uploader-icon {
  min-width: 36px;
  height: 36px;
  background-color: purple;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

#video-index-item-info-container .uploader-icon {
  min-width: 36px;
  height: 36px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  max-width: 36px;
}

#video-index-item-info {
  margin-left: 12px;
  font-size: 14px;
  position: relative;
}

#video-index-item-info p {
  margin-bottom: 3px;
  margin-top: 0px;
  color: #666666;
  font-size: 15px;
}

#video-index-item-info #video-index-item-title {
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: bolder;
  margin-top: 3px;
  width: 270px;
  color: black;
}


.username-popup {
    position: absolute;
    background: #636363de;
    padding: 10px;
    color: white;
    top: -8px;
    left: -3px;
    border-radius: 2px;
    display: none;
}

.username-popup.reveal {
    display: block;
}



